---
layout: page
title: Designing DevOps
subtitle: Common Design Patterns and Their Application
---

<!-- Front page Content -->
{% for pattern in site.collections %}
  {% if pattern.label != 'posts' %}
  <div class="row pattern_label">
    <div class="col-md-4">
      <img src="/img/{{pattern.img}}">
    </div>
    <div class="col-md8">
      <a href="{{ pattern.url }}">{{ pattern.title }}</a>
    </div>
  </div>  
  {% endif %}
{% endfor %}

{% assign categories = (site.collections | sort: 'sequence') %}
{% for category in site.categories %}
  {% if category.title %}
    {{ category.title | escape }}
  {% endif %}
{% endfor %}

