---
layout: page
title: DevOps Patterns
subtitle: Common Design Patterns and Their Application
---


{% assign cats = (site.collections | sort: 'sequence') %}
{% for category in cats %}
  {% if category.title %}
    <div class="row pattern-label">
      <div class="col-md-2 align-middle">
        <a href="{{ category.url }}">
          <img class="center-block" src="/img/{{category.img}}">
        </a>
        <!--<img width=64 src="/img/{{category.img}}">-->
      </div>
      <div class="col-md-10">
        <h3>
          <a href="{{ category.url }}">
            {{ category.title }}
          </a>
        </h3>
        <span>
          {{category.description | escape}}
        </span>
      </div>
    </div>  
    <hr class="shadow-line">
  {% endif %}
{% endfor %}

